// change element component styles
// identify a style space
// first import it in App.vue
// edit it in specified element
.s-icon-selector-dialog-body-height {
    .el-dialog__body {
        height: 500px;
        overflow: scroll;
    }
}

.list-tabs__item {

    .el-tabs__nav {
      width: 100%;
      display: flex;
    }
  
    .el-tabs__item {
      flex: 1;
      text-align: center;
    }
  }